extends layout

block content
    h3 #{poll.question}
    form.form(method='POST' action=`/vote/${poll._id}`)
        div.options
            each option in poll.options
                div.option
                    label(for=`${option._id}`) #{option.option}
                    input(type="radio" name=`choice` value=`${option.option}` id=`${option._id}`)
                    br
        input.button(type="submit" value="Vote")
            