extends layout

block content
    h3 #{poll.question}
    form(method='POST' action=`/vote/${poll._id}`)
        each option in poll.options
            label(for=`${option}`) #{option.option}
            input(type="radio" name=`choice` value=`${option.option}`)
            br
        input(type="submit" value="Vote")
            